html{  
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #20252b;
  width: 100%;
  height: 100%;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

body, #app{
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.react-root{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.app-nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #303030;
  padding: 8px;
  border-bottom: 2px #1ed760 solid;
  height: 100%;
}

.title-logo-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title-logo-container h1{
  font-size: 2.2rem;
  margin: 0px;
  margin-left: 8px;
  font-weight: 550;
  color: whitesmoke;
}

.title-logo-container h2{
  font-size: 1.2rem;
  margin: 0px;
  margin-top: -4px;
  margin-left: 8px;
  font-weight: 100;
  color: whitesmoke;
}

.landing-login-text a{
  color: whitesmoke;
  font-size: 1.6rem;
}

html .app-container .btn {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 600;
  border: 2px #1ed760 solid;
  background: #1ed760;
  color: whitesmoke;
  border-radius: 24px;
  padding: 4px 16px;
  transition: all 66ms linear;
}

html .app-container .btn:hover{
  transform: scale(1.06);
}

nav img{
  height: 64px;
}
