html{  
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #20252b;
  width: 100%;
  height: 100%;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

body, #app{
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(rgb(42, 49, 40), rgb(15, 15, 15) 85%);
  color: whitesmoke;
  font-weight: 600;
}

.react-root{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.app-nav{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #151515;
  padding: 24px;
  border-right: 2px #1ed760 solid;
  height: 100%;
  width: 250px;
}

.title-logo-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
}

.title-logo-container h1{
  font-size: 2.4rem;
  margin: 0px;
  margin-left: 8px;
  font-weight: 550;
  color: whitesmoke;
  cursor: pointer;
}

.nav-item{
  cursor: default;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 16px 0;
  color: rgb(194, 194, 194);
  transition: all 0.2s linear;
}

.selected{
  color: #1ed760;
}

.nav-item:hover{
  color: whitesmoke;
  text-decoration: none;
}

.nav-item-text{
  margin-left: 8px;
  cursor: pointer;
}

.nav-item i{
  font-size: 1.8rem;
  cursor: pointer;
}

.nav-bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.nav-user-link{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: default;
  margin-bottom: 16px;
  color: whitesmoke
}

.nav-user-link span{
  margin-left: 8px;
  transition: all 0.14s ease-in-out;
}

.nav-user-link:hover{
  text-decoration: none;
  cursor: pointer;
  color: #66f598;
}

.nav-user-avatar{
  height: 28px;
  width: 28px;
  border-radius: 50%;
  color: whitesmoke;
  background-size: cover;
  margin: 0;
}

.app-content-container{
  padding-left: calc(250px);
}

html .app-container .btn {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 600;
  border: 2px #1ed760 solid;
  background: #1ed760;
  color: whitesmoke;
  border-radius: 24px;
  padding: 4px 16px;
  transition: all 66ms linear;
}

html .app-container .btn.black{
  border: 2px whitesmoke solid;
  background: #070707;
  color: whitesmoke;
}

html .app-container .btn:hover{
  transform: scale(1.06);
}

nav img{
  width: 48px;
}
